/* I can pretty much override any of the default w3css stuff in here! */

/* Lina's Color Palette ---------------------------------------------------------- */
:root {
    --LinaGreen0: #0c291a;
    --LinaGreen1: #183b27;
    --LinaGreen2: #264d37;
    --LinaGreen3: #477059;
    --LinaGreen4: #5c8f72;

    --PaleGold: #eccaa0;
}

/* Generic Formatting ------------------------------------------------------------- */

/* Overrulled version of w3-white */
/* Sets color to white & background to green */
.w3-white, .w3-hover-black:hover{
    color:#fff!important;
    background-color:var(--LinaGreen1)!important
}

.w3-text-white, .w3-hover-text-white:hover{
    color:#fff!important;
}

.w3-row-padding img {margin-bottom: 12px}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 100px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

/* Heading & Body Text Formatting --------------------------------------------------- */

/* Sets heading text to Montserrat & body/paragraph text to Lato */
h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif; font-style: normal;}

/* Page Titles ("Lina Boughton" & "About") */
h1 {
    font-weight: 700;
    font-size: 4.5em;
    line-height: 1.2;
    margin:0px 0;
    color: var(--LinaGreen4);
}

/* Smaller, white text (Hi! My name is) */
h2 {
    font-weight: medium;
    font-size: 1em;
    line-height: 1;
    margin:0px 0px;
    color: white;
}

/* Project Page Titles ("OhiOPT" or "Roots of Magic") */
h3 {
    font-weight: 625;
    font-size: 3.5em;
    line-height: 1;
    margin:0px 0px;
    color: var(--LinaGreen4);
}

/* Section headers ("Skills" or "Eduaction") */
h4 {
    font-weight: 625;
    font-size: 2em;
    line-height: 1;
    margin: 0px 0px 0px 0px;
    color: var(--LinaGreen4);
    text-align: left;
}

body, p {font-family: "Montserrat", sans-serif}

strong {font-weight: 700; color: var(--LinaGreen4);}

/* Button --------------------------------------------------------------------------- */
.resume-button {
    border-radius: 20px;
    border: none;
    overflow: hidden;
    background-color: white;
    color: var(--LinaGreen1);
    font-size: .8em;
    font-weight: 600;
    padding: 8px 20px;
}

/* Sidebar ------------------------------------------------------------------------- */

.w3-sidebar{
    height:100%;
    width:100px;
    background-color: var(--LinaGreen2);
    position:fixed!important;
    z-index:1;
    overflow:auto;
}

.w3-button:hover{
    color:var(--LinaGreen0)!important;
    background-color:var(--LinaGreen4)!important
}

/* Masonry Grid -------------------------------------------------------------------- */
/* Combining Youtube tutorial by Mr. Web Designer on Responsive Masonry Image Gallery &
https://www.freecodecamp.org/news/how-to-create-a-mansory-layout-using-html-and-css/
+ edits by me */

.masonry-grid {
    columns: 3 250px;
    gap: 15px;
}

/* Individual items in the grid */
.masonry-item {
    text-align: center;
    position: relative;
    /* align-items: center;
    justify-content: center; */
}

.masonry-item img{
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: filter 0.3s;
    display: block;
    position: relative;
    z-index: 1;
}
.masonry-item:hover img{
    filter: brightness(30%);
}

.masonry-item-caption {
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 3em;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    line-height: 1.2;
}
.masonry-item:hover .masonry-item-caption{
    opacity: 1;
}

/* Main -------------------------------------------------------------------------- */

#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%
}

main {
    flex: 1 0 auto;
    min-height: 78.6vh;
}

/* Footer -------------------------------------------------------------------------- */

footer {
    flex: 0 0 auto;
}

.lina-footer {
    background-color: var(--LinaGreen0);
    font-size: .87em;
    font-family: "Montserrat", sans-serif;
    line-height: 2;

    position: relative;
    overflow: hidden; /* Clips the circles */
}

.lina-footer-circle-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: right;

    height: 100%;
    width: 50%;
    right: 0;
    z-index: 0;
}

.footer-circle {
    aspect-ratio: 1 / 1;
    height: 150%;
    border-radius: 50%;

    display: flex;
    z-index: 0;
}

.footer-text {
    padding: 16px 24px;
    z-index: 10;
    position: relative;
    font-weight: 500;
}

/* Animated text CSS Attempt -------------------------------------------------------- */
/* From this video: https://www.youtube.com/watch?v=z6j7lXN3_eI */

.animatedlist {
    /* Positioning */
    margin: auto;
    width: 99.9%;
    padding: 0;
    box-sizing: border-box;

    /* Display */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    white-space: nowrap;
    
    /* Font Stlying */
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.7em;
}

.animatedlist > * {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.animatedlist ol{
    list-style:none; /* Removes #s from the ordered list */

    --height: 3rem; /* This variable & below helps us bring the text vertical */
    height: var(--height);
    line-height: var(--height);

    overflow: hidden; /* Hides all overflowing text */
    padding-left:8px; /* Adds space before static text */

    text-align: center;
}

/* This is where we're defining the animation!! */
.animatedlist ol li{
    /* We're naming the animation "slide-up",
    it's going to take 12 seconds in total (2 seconds per item),
    & it's going to be iterating infinitely */
    animation: slide-up 12s infinite;
}

/* These are the keyframes for our slide-up animation!! */
@keyframes slide-up {
    /* At 0-10% of the way through the animation,
    our Y transform is at 0% */
    0%, 10% {
        transform: translateY(0%);
    }
    /* At 15-25% of the way through the animation,
    our Y transform is at -100 (as we slide down) */
    15%, 25% {
        transform: translateY(-100%);
    }
    30%, 40% {
        transform: translateY(-200%);
    }
    45%, 55% {
        transform: translateY(-300%);
    }
    60%, 70% {
        transform: translateY(-400%);
    }
    75%, 85% {
        transform: translateY(-500%);
    }
}

.animatedlist ol li span{
    color: var(--LinaGreen4);
    white-space: nowrap; /* Prevents text from wrapping over! */
}

/* Clipped/'Masked' Circle Portrait ---------------------------------------------------- */
.outline-circle {
    /* Defines a circle */
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    /* To control circle size, set height or width in HTML */

    /* Stylization */ 
    background-color: var(--LinaGreen0);
    margin-left: 3%;
    margin-bottom: 3%;

    /* Positioning & Display */
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.mask {
    /* Clipping & positioning behavior */
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.mask img{
    /* To control circle size, set height or width in HTML */
    display: block;
}

.decorative-circle {
    /* Defines a circle */
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    /* To control circle size, set height or width in HTML */

    /* Positioning & Display */
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}

/* Flexbox for Skills/Softwares/Education ---------------------------------------------------- */
/* A base for columns */
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: stretch;
    gap: 40px;
    text-align: left;
}

.flex-container > div ul {
    list-style: none; /* Removes #s from the ordered list */
    margin: 20px 0 0 0;
    padding: 0;
}

.flex-container > div ul li {
    color: white;
    line-height: 130%;
    margin-top: 12px;
}

.flex-container > div ul li .minitext {
    color: var(--LinaGreen4);
    font-weight: 600;
    font-size: .65em;
    line-height: 130%;
    margin-top: -11px;
}

/* Grid for Project Page ------------------------------------------------------- */

/* Create columns that floats next to each other */
.column {
  float: left;
  padding: 0 10px 0 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column > ul {
    list-style: none; /* Removes #s from the ordered list */
    padding: 0 10px 0 0;
    margin: 0;
}

.column > div ul li {
    color: white;
    line-height: 130%;
    margin-top: 12px;
}

/* Project Image ------------------------------------------------------------ */

.project-image {
    /* Stylization */
    background-color: var(--LinaGreen0);
    
    /* Positioning & Display */
    width: 100%;
    height: 400px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.project-image img {
    justify-content: center;
    align-items: center;
    display: flex; /* Might need to be block */
    position: relative;
    height: 90%;
}

